    .divImage {
        width: 700px;
        height: 550px;
        margin: auto;
        display: flex;
      }

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .post {
        margin: 16px auto;
        padding: 16px;
        height: 700px;
        background-color: white;
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }

    .circular_image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid  black;
        display:inline-block;
        vertical-align:middle;
        object-fit: cover;
    }

    .aboutPost {
        text-align: left;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    .userName {
        text-indent: 50px;
        font-family: arial;
        font-size: 20px;
        padding-left: 10px;
        /* text-decoration: underline; */
    }

    @media (min-width: 700px) {
        .post {
            width: 700px;
        }
    }

    .numberOfLikes {
        font-weight: bold;
        /* background-color: tomato; */
        margin: auto 0;
    }

    .likeBtn{
        /* background:blue ; */
        display: flex;
        justify-content: center;
        width: 200px;
        margin: 0 auto;
      }
      /* .imageLike {
        background:green ;
      }
       */
       .likeBtn:hover{
        border-radius: 20px;
        background-color: #f7fdff;
        border: 1px solid #e4f1f5;
      }